<div class="form-row p-2 bg-primary rounded">
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 text-left my-auto">
        <img class="rounded-circle" src="{{ user?.photoURL }}" width="40" height="40" alt="{{ user?.displayName }}">
    </div>

    <div class="col-7 col-sm-7 col-md-7 col-lg-7 text-left mt-3 my-auto">
        <h4 class="ml-2 my-auto text-white">{{ user?.displayName }}</h4>
    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-right mt-3 my-auto">
        <i class="fal fa-sign-out-alt text-white fa-2x" (click)="logOut()"></i>
    </div>
</div>