<!-- Modal Button -->
<div class="form-row">
    <button class="w-100 btn btn-lg btn-info m-1 p-1" (click)="open(content); reset();">
        Create new list
        <i class="fal fa-plus-circle"></i>
    </button>
</div>



<!-- Inicio Modal -->

<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create New List</h4>
    </div>

    <div class="modal-body">
        <form [formGroup]="forma">
            <div class="form-group">
                <input type="text" 
                class="form-control" 
                placeholder="Shopping List*" 
                formControlName="title"
                [ngClass]="{'is-invalid': titleInvalid}">
                <small *ngIf="titleInvalid" class="text-danger">Must be at least 4 characters</small>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-info btn-link" (click)="createList(); modal.close();">
                Create
            </button>
        </div>

        <div class="divider"></div>

        <div class="right-side">
            <button type="button" class="btn btn-danger btn-link" (click)="modal.dismiss('Cross Click')">
                CANCEL
            </button>
        </div>
    </div>

</ng-template>



<!-- Final Modal -->