<div class="container">
    <div class="row justify-content-center align-items-center minh-100">
        <div class="col-10 col-sm-7 col-md-5 col-lg-4 text-center">
            <main class="form-signin mt-5">
                <img class="mb-4" src="assets/img/nota.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>
                <button class="w-100 btn btn-lg btn-primary" (click)="logIn()">
                    Sign in with Google <i class="fab fa-google-plus-g"></i>
                </button>
                <p class="mt-5 mb-3 text-muted">DevByJavier&copy;</p>
            </main>

        </div>

    </div>
</div>