<div class="container-fluid">
    <div class="row justify-content-center align-items-center minh-100">
        <div class="col-12 col-sm-7 col-md-6 col-lg-4 text-center">

            <!-- Header -->
            <app-header></app-header>

            <!-- Modal -->
            <app-modal></app-modal>

            <!-- Inicio data -->
            <div class="form-row" id="dataTable">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let list of lists; let i = index;">
                            <td class="text-left">
                                <app-edit-pop [id]=" list.id "></app-edit-pop>

                                <button data-id="{{ list.id }}" class="btn btn-sm btn-info"
                                    (click)="deleteList(list.id, i)">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">
                                <a [routerLink]="[ '/list', list.id ]" class="text-dark">
                                    <h6>{{list.title}}</h6>
                                </a>
                            </td>
                            <td class="text-right">items</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <!-- Fin data -->


            <!-- Inicio Menu component -->

            <app-menu></app-menu>

            <!-- Fin Menu component 
            
            [routerLink]="['/edit', list.id]"-->
        </div>
    </div>
</div>