<div class="container-fluid">
    <div class="row justify-content-center align-items-center minh-100">
        <div class="col-12 col-sm-7 col-md-6 col-lg-4 text-center">

            <!-- Inicio header -->

            <app-header></app-header>

            <!-- Fin header -->

            <div class="form-row">
                <button class="w-100 btn btn-lg btn-info m-1 p-1" (click)="createList()">
                    Create new list
                    <i class="fal fa-plus-circle"></i>
                </button>
            </div>



            <!-- Inicio Modal -->

            


            <!-- Final Modal -->

            <!-- Inicio data -->
            <div class="form-row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fal fa-pen"></i>
                                </button>

                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Name list</td>
                            <td>Date</td>
                            <td class="text-right">items</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fal fa-pen"></i>
                                </button>

                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Name list</td>
                            <td>Date</td>
                            <td class="text-right">items</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fal fa-pen"></i>
                                </button>

                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Name list</td>
                            <td>Date</td>
                            <td class="text-right">items</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fal fa-pen"></i>
                                </button>

                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Name list</td>
                            <td>Date</td>
                            <td class="text-right">items</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <!-- Fin data -->


            <!-- Inicio Menu component -->

            <app-menu></app-menu>

            <!-- Fin Menu component -->
        </div>
    </div>
</div>