<div class="container-fluid">
    <div class="row justify-content-center align-items-center minh-100">
        <div class="col-12 col-sm-7 col-md-6 col-lg-4 text-center">

            <!-- Inicio header -->

            <app-header></app-header>

            <!-- Fin header -->

            <app-clear-all></app-clear-all>

            <!-- Inicio data -->
            <div class="form-row" id="dataTable">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td>Name list</td>
                            <td>Over date</td>
                            <td>Items</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td>Name list</td>
                            <td>Over date</td>
                            <td>Items</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td>Name list</td>
                            <td>Over date</td>
                            <td>Items</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td>Name list</td>
                            <td>Over date</td>
                            <td>Items</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td>Name list</td>
                            <td>Over date</td>
                            <td>Items</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Fin data -->

            <app-menu></app-menu>
        </div>
    </div>
</div>