<div class="container-fluid">
    <div class="row justify-content-center align-items-center minh-100">

        <div class="col-12 col-sm-7 col-md-6 col-lg-4 text-center">

            <div class="form-row p-2 bg-primary rounded">

                <div class="col-1 col-sm-1 col-md-1 col-lg-1 text-center my-auto">
                    <i class="fas fa-angle-double-left text-white" (click)="backToPendings()"></i> 
                </div>

                <div class="col-7 col-sm-7 col-md-7 col-lg-7 text-left mt-3 my-auto">
                    <h4 class="my-auto text-white">List name</h4>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-right mt-3 my-auto">
                    <i class="fal fa-plus-circle text-white fa-2x" (click)="addItem()"></i>
                </div>

            </div>

            <div class="form-row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Item name</td>
                            <td>State</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Item name</td>
                            <td>State</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Item name</td>
                            <td>State</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <button class="btn btn-sm btn-info">
                                    <i class="fal fa-trash"></i>
                                </button>
                            </td>
                            <td class="text-left">Item name</td>
                            <td>State</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>